<h1>Posts</h1>

<section id="display">
  <% @posts.each do |post| %>
    <h2> <%= post.title %> </h2>
    <p> <%= post.body %> </p>
  <section class="current_form">

    <% if post.ratings.empty? %>
      <p class="rating"></p>
      <%= form_for Rating.new do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
          <% (1...5).each do |i| %>
            <%= f.label :stars, i %>
            <%= f.radio_button :stars, i %>
          <% end %>
      <% end %>
      <% else %>
      <%= post.ratings.last.stars %>
    <% end %>
  </section>
  <% end %>
</section>

<section>
  <%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>

</section>
