<h1>Posts</h1>

<section id="display">
  <% @posts.each do |post| %>
    <section>
      <%= render partial: "post", locals: {post: post} %>
    </section>
  <% end %>
</section>

<section>
  <%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>

</section>
